@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
	font-family: 'Montserrat', sans-serif;
  	margin: 0px;
  	padding: 0px;
}

html { 
	background-color: #FDFDFD;
}
 
a {
	color: #4A6A8B;
	font-weight: bold;
	text-decoration: none;	
}

.diminished, .diminished a  {
	color: #999;
}
  
div#content {	
}

div#info_column {
	margin: 0 auto;
}
 
div.info_block {
	padding: 1em;
}

div.info_block p {
	padding: 0;
	margin: 0.5em auto 1.5em auto;
}

div.info_block .subsection {
	font-size: 0.8em;
}

div.info_block h2, div.info_block h3 {
	padding: 0;
	margin: 1em auto;
}

@media screen and (min-width: 480px){
	div#info_column {
		width: 480px;
		margin: inherit auto;
	}
  
}
