body {
	font-family: "monaco", Monospace;	
  	margin: 0px;
  	padding: 0px;
  	color: #1F1E1F;
}

html { 
  background-color: #FDFDFD;
}
 
a {
  	color: #4A6A8B;
}
  
div#content {	
}

div#info_column {
	margin: 0 auto;
}
 
div.info_block {
	max-width: 100%;
	text-align: left;
	padding: 1em;	
}

div.info_block p {
	padding: 0.5 auto;
	margin: 0.5em auto;		
}

div.info_block h2, div.info_block h3 {
	padding: 0;
	margin: 1em auto;
}

div.email {
}

@media screen and (min-width: 480px){
	div.info_block p, div.info_block h2, div.info_block h3 {
		max-width: 480px;
	}
	div.info_block p {
		margin: 0.5em auto;	
	}
	div.info_block h2, div.info_block h3 {
		margin: 1em auto;	
	}
  
}
